@import "vars.scss";
@import "mixins.scss";

[fixed] {

    @include lg() {
        width: $width-lg;
    }

    @include md() {
        width: $width-md;
    }

    @include sm() {    
        width: $width-sm;
    }

    @include xs() {
        width: 100%;
    }

    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

[row] {

    @include row();

    [row] {
        margin-left:-$gutter;
        margin-right:-$gutter;
    }
}

@for $i from 1 through $columns {

    $width: (100% * $i / $columns);

  [col='#{$i}'], .col-#{$i} {
    width: $width;
  }  

  [col-lg='#{$i}'] {
      @include lg() {
        width: $width !important;
      }
  }

  [col-md='#{$i}'] {
      @include md() {
        width: $width !important;
      }
  }

  [col-sm='#{$i}'] {
      @include sm() {
        width: $width !important;
      }
  }

  [col-xs='#{$i}'] {
      @include xs() {
        width: $width !important;
      }
  }
}

@include lg() {
    [col-lg-block] {
        @include block();
    }
}

@include md() {
    [col-md-block] {
        @include block();
    }
}

@include sm() {
    [col-sm-block] {
        @include block();
    }
}

@include xs() {
    [col-xs-block] {
        @include block();
    }
}

[col], 
[col-xs],
[col-sm],
[col-md],
[col-lg] {

	float: left;
    box-sizing: border-box;     
    padding-left: $gutter * 0.5 !important;
    padding-right: $gutter * 0.5 !important;
} 
