
@mixin breakpoint($min:'', $max:'') {

    @if $min != '' and $max != '' {
        
        @media (min-width: $min) and (max-width: $max) { @content; }
    
    } @else if $min != '' {
        
            @media (min-width: $min) { @content; }
    } @else if $max != '' {
        
            @media (max-width: $max) { @content; }
    }
}

@mixin xs() {

    @include breakpoint($max:$width-sm) { @content; }
}

@mixin sm() {

    @include breakpoint($min:$width-sm, $max:$width-md) { @content; }
}

@mixin md() {

    @include breakpoint($min:$width-md, $max:$width-lg) { @content; }
}

@mixin lg() {

    @include breakpoint($min:$width-lg) { @content; }
}

@mixin clearfix() {
    
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}